body {
    margin: 0px;
    padding: 0px;
}

/***  ESTILIZACAO CABECALHO ***/
.header,
.header nav,
.header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: black;
    padding: 15px;
}

.header img {
    width: 32px;
    height: 32px;
}

.header nav {
    gap: 30px;
}

.header nav ul {
    gap: 15px;
    list-style: none;
    margin: 0px;
}

.header nav ul li a{
    text-decoration: none;
    color: white;
}

.header-busca i {
    display: none;
}