body {
    margin: 0;
    padding: 0;
}

/**HEADER**/
.navbar {
    background: rgb(131,0,255);
    padding: 10px 10%;
    justify-content: space-between;
}

.navbar-collapse {
    flex-grow: 0;
    justify-content: end;
}

/**CARD**/
main {
    margin: 0px;
}

.container {
    max-width: 100%;
    align-items: right;
    margin: 0px;
    padding: 0px;
}

@mixin make-container() {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }

.card {
    background-color: #000;
    color: #fff;
    margin: 0px;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 0px;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

.Informacoes {
    width: 100%;
    padding-left: 10%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap:50px;
}

.especificacoes {
    line-height: 25px;
}

.cartaz {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin: 0;
}

/**FOOTER**/
footer {
    background: rgb(131,0,255);
    padding: 10px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    align-items: center;
}

footer p {
    margin: 0;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .cartaz {
        display: none;
    }
}