body {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

/***  ESTILIZACAO CABECALHO ***/
.header,
.header nav,
.header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: black;
    padding: 15px 20px 15px 30px;
}

.header img {
    width: 32px;
    height: 32px;
}

.header nav {
    gap: 30px;
}

.menu {
    gap: 15px;
    list-style: none;
    margin: 0px;
}

.header nav ul li a{
    text-decoration: none;
    color: white;
}

.menu p{
    color: white;
    margin: auto 0;
}

/* Campo de busca */
.buscar-itens {
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 10px;
}

.buscar-itens i {
    color: #fff;
}

.buscar-itens input {
    background-color: black;
    color: white;
    border: none;
    outline: none;
}

.buscar-itens input:focus {
    background-color: black;
    border: 0 0 1px 0;
    outline: none;
}

 #menuToggle, #header-buscar {
    display: none;
} 

.menu-icon {
    display: none;
}

/*** DESTAQUES ***/
.destaques {
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#destaques {
    margin: 20px;
    margin-top: 30px;
    text-align: center;
    font-size: 24pt;
    z-index: 1;
    color: #fff;
}

.carousel {
    padding: 50px;
    padding-top: 20px;
    height: 100%;
    z-index: 0;
}

.carousel-item {
    height: 100%;
    align-items: center;
}

 .trailer {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap:30px;
}

.infos {
    width: 50%;
    color: #fff;
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
}
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*    Carousel Fade Transition   */
#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

/*** LANCAMENTOS ***/
.lancamentos, .plataformas, .publisher, .sobre {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 0px;
}

.lancamentos {
    margin: 50px auto;
}

.filtro {
    padding: 10px;
}

#ordem, #genero {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    padding: 5px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
}

.card {
    background-color: whitesmoke;
    border: none;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button i {
    color: #fff;
    margin-right: 7px;
}

#button {
    background-color: rgb(52, 52, 52);
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.411);
    border: none;

    transition: top 0.2s;
    position: relative;
}

#button:hover {
    background-color: rgb(94, 94, 94);
}

#button:active {
    background-color: rgb(77, 77, 77);
    top: 5px;
    box-shadow: none;
}

.carregar-lancamentos, .carregar-plataforma, .carregar-publisher {
    text-align: right;
}

/*** PLATAFORMAS ***/
.plataformas-itens {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:15px;
    width: 100%;
}

.plataforma1, .plataforma2, .plataforma3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;

    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.342);
    border-radius: 20px;
}

.plataforma-img {
    text-align: center;
}

/*** PUBLISHER ***/
.publisher{
    background-color: rgb(208, 208, 208);
}

.publisher-itens {
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.publisher-itens .item div {
    align-items: flex-end;
}

.card-maisDetalhes {
    text-align: right;
}

/*** SOBRE ***/
.editorial-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editorial-item p {
    margin: auto 0;
    margin-left: 5px;
}

.redes-sociais {
    margin: 20px 0;;
}

.redes-sociais-icones a {
    margin-right: 20px;
}

.redes-sociais-icones a i{
    color: black;
}

/*** RODAPÉ ***/
footer {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 20px 10%;
}

footer p {
    margin: 0;
    color: #fff;
}

/*** MENU MOBILE ***/
@media screen and (max-width: 768px) {
    .header{
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 20;
    }

    .header nav {
        display: absolute;
        width: 100%;
        height: 100%;
    }

    .menu {
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
        z-index: 30;
    }

    .menu p {
        display: none;
    }

    .menu li {
      display: block;
      width: 100%;
      margin-left: 0px;
      margin-bottom: 20px;
    }
  
    .menu li a {
        display: block;
        text-align: center;
        width: 100%;
    }

    .menu-icon {
        width: 50px;
        height: inherit;
        display: block;
        position: absolute;
        top: 15px;
        right: 30px;
        line-height: 60px;
        color: white;
        z-index: 999;
    }

    #menuToggle:checked ~ label i:nth-child(2) {
      display: block;
    }
    #menuToggle:checked ~ label i:first-child {
      display: none;
    }
    #menuToggle:not(:checked) ~ label i:first-child {
      display: block;
    }
    #menuToggle:not(:checked) ~ label i:nth-child(2) {
      display: none;
    }
  
    #menuToggle:checked ~ .menu {
        height: 100%;
    }

    .menu-icon i {
        font-size: 1.7em;
    }

    /**PLATAFOMAS**/
    .plataforma-info {
        display: none;
    }
}

@media screen and (min-width:601px) and (max-width:980px){
    /* MENU MOBILE */
    .buscar-itens {
        display: flex;
        justify-content: flex-end;
        height: inherit;
        border: none;
        z-index: 30;
        text-align: right;
    }

    #lupa-buscar {
        position: relative;
        right: 10px;
    }

    .buscar-itens input {
        height: 100%;
        width: 0%;
        align-items: center;
        overflow: hidden;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -ms-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
    }

    #header-buscar:checked ~ label i:nth-child(3) {
        display: block;
    }
    #header-buscar:checked ~ label i:first-child {
        display: none;
    }
    #header-buscar:not(:checked) ~ label i:first-child {
        display: block;
    }
    #header-buscar:not(:checked) ~ label i:nth-child(3) {
        display: none;
    }

    #header-buscar:checked ~ .buscar-itens input {
        width: 100%;
    }

    /*  DESTAQUES   */
    .trailer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .infos {
        text-align: center;
    }

    .infos p {
        display: none;
    }
}
