body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(33, 33, 33);
    color: #fff;
    /* background-color: #f9f3ff; */
}

/***  ESTILIZACAO CABECALHO ***/
.navbar {
    background: rgb(131,0,255);
    justify-content: space-between;
    padding: 10px 10%;
}

.navbar-collapse {
    flex-grow: 0;
    justify-content: end;
    gap: 20px;
}

.navbar-nav {
    gap: 10px;
}

.navbar-nav li a {
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}

.navbar-nav li a:hover{
    font-weight: 700;
}

.navbar-nav p {
    color: white;
    margin: auto 0;
}

/* Campo de busca */
.buscar-itens {
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 10px;
}

.buscar-itens i {
    color: #fff;
}

.buscar-itens input {
    background-color: rgb(131,0,255);
    color: white;
    border: none;
    outline: none;
}

.buscar-itens input:focus {
    background-color: rgb(131,0,255);
    border: 0 0 1px 0;
    outline: none;
}

.buscar-itens input::placeholder {
    color: #fff;
}

/*** LANCAMENTOS ***/
.lancamentos, .sobre {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

.lancamentos {
    padding: 30px;
    gap:15px;
}

#pesquisa_card {
    padding: auto;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0;
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    height: 300px;
    color:rgb(255, 255, 255);
    
    padding: 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.342);

    margin: 10px 5px;
}

.card-conteudo {
    background-color: #00000040;

    height: 100%;
    width: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-card p {
    line-height: 10px;
}

.info-card div {
    margin-top: 15px;
}

/*** PLATAFORMAS ***/
.plataforma1, .plataforma2, .plataforma3 {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.342);
    border-radius: 20px;
}

.plataforma1 {
    margin-left: auto;
}

.plataforma3 {
    margin-right: auto;
}

.plataforma-info {
    line-height: 20px;
}

.card-img {
    text-align: center;
}

.card-maisDetalhes {
    text-align: right;
}

.card-maisDetalhes, #lancamento-maisDetalhe {
    background-color: rgb(152, 152, 152);
    position: relative;
    left: -15px;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: left;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
}

.card-maisDetalhes:hover, #lancamento-maisDetalhe:hover {
    font-weight: 700;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.342);
}

.card-maisDetalhes:active, #lancamento-maisDetalhe:active {
    font-weight: 700;
    box-shadow: none;
    top: 3px;
}

/*** PUBLISHER ***/
.publisher {
    background: rgb(131,0,255);
    color: #fff;
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
}

#publisher {
    text-align: left;
    margin: 15px 10%;
    margin-bottom: 15px;
}

.item {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    background-color: rgb(159, 56, 255);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.342);
    border-radius: 20px;
}

.publisher-itens {
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.publisher1 {
    margin-left: auto;
}

.publisher3 {
    margin-right: auto;
}

.link-publisher {
    text-align: right;
}

.link-publisher a {
    text-decoration: none;
    color:#fff;
    transition: all 0.2s;
}

.link-publisher a:hover {
    font-weight: 700;
}

/*** SOBRE ***/
.editorial-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editorial-item p {
    margin: auto 0;
    margin-left: 5px;
}

.redes-sociais {
    margin: 20px 0;;
}

.redes-sociais-icones a {
    margin-right: 20px;
}

.redes-sociais-icones a i {
    color: rgb(255, 255, 255);
}

.redes-sociais-icones a i:hover {
    color:rgb(217, 217, 217);
}

/*** RODAPÉ ***/
footer {
    background: rgb(131,0,255); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 20px 10%;
}

footer p {
    margin: 0;
    color: #fff;
}

/*** MEDIA QUERY ***/
@media screen and (max-width: 990px) {
    /* NAV BAR */
    .navbar-nav p, #sair-buscar {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    /* HEADER */
    .header {
        position: fixed;
        z-index: 1;
        border: none;
        width: 100%;
    }

    /*  DESTAQUES   */
    .destaques, .lancamentos {
        position: relative;
        top:58px;
    }

    .trailer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .infos {
        text-align: center;
    }

    .infos p {
        display: none;
    }

    /* LANÇAMENTOS */
    .filtro {
        display: none;
    }

    /* PLATAFOMAS e PUBLISHERS */
    .plataforma-info, .publisher-info {
        display: none;
    }

    .plataforma1, .plataforma2, .plataforma3, .item {
        margin: 10px auto;
    }

    /* SOBRE */
    .sobre-info, .editorial-info {
        margin:0 auto;
    }

    .sobre h1 {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    /* DESTAQUES */
    .infos {
        width: 100%;
    }

    .infos h2 {
        font-size: 20pt;
    }
}