body {
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/**HEADER**/
.navbar {
    background: rgb(131,0,255);
    padding: 10px 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    animation-name: animacao_navbar;
    animation-duration: 1s;
}

.navbar a {
    position: relative;
    top: 0px;
    transition: all 0.1s;
}

.navbar a i {
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 5px 0px #000000c4;
    transition: all 0.5s;
}

.navbar a i:hover {
    color: rgb(200, 200, 200);
}

.navbar a:active {
    top: 3px;
}

.navbar a i:active {
    box-shadow: none;
}

/**CARD**/
main {
    margin: 0px;
}

.container {
    max-width: 100%;
    align-items: right;
    margin: 0px;
    padding: 0px;
}

@mixin make-container() {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }

.card {
    background-color: #000;
    color: #fff;
    margin: 0px;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 0px;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

.Informacoes {
    width: 50%;
    padding-left: 10%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap:50px;

    animation-name: animacao_card_informacoes;
    animation-duration: 5s;
}

.especificacoes {
    line-height: 25px;
}

.cartaz {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: 0px;
    margin: 0;
}

.filtro {
    animation-name: animacao_filtro_imagem;
    animation-duration:  5s;
    
    background-color: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    height: 100%;
    width: 100%;
    transition: all 3s;
}

.jogo-nao-encontrado {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.jogo-nao-encontrado a {
    text-decoration: none;
    background-color: rgb(152, 152, 152);
    color:#fff;

    position: relative;
    padding: 15px 25px;
    font-size: 16pt;
    border-radius: 30px;

    transition: all 0.2s;
}

.jogo-nao-encontrado a:hover {
    background-color: rgb(126, 126, 126);
    font-weight: 700;
}

.jogo-nao-encontrado a:active {
    top: 5px;
}

/**FOOTER**/
footer {
    background: rgb(131,0,255);
    padding: 10px 10%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    animation-name: animacao_navbar;
    animation-duration: 6s;
}

footer p {
    margin: 0;
    color: #fff;
}

@keyframes animacao_navbar {
    from {
        height: 0px;
        padding: 0px 10%;
    }

    to {
        height: 100%;
        padding: 10px 10%;
    }
}

@keyframes animacao_filtro_imagem {
    from {
        background-color: rgb(0,0,0);
    }

    to {
        background-color: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
       
    }
}

@keyframes animacao_card_informacoes {
    from {
        color: #000;
        padding-left: 5%;
    }

    to {
        color: #fff;
        padding-left: 10%;;
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        width: 70%;
        z-index: 1;
        animation: none;
        top: 20px;
        left: 10%;
        padding: 0;
        height: 0;
    }

    .navbar img {
        display: none;
    }

    .card {
        position: relative;
        top: -21px;
        width: 100%;
        flex-direction: column-reverse;
        z-index: 0;
        
    }

    .cartaz {
        width: 100%;
        height: 40%;
    }

    .filtro {
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 100%);
    }

    .Informacoes {
        width: 100%;
        height: 60%;
        padding-top: 15px;
    }

    footer {
        /* animation: none; */
        padding: 10px 10%;
        max-height: 70px;
    }

    @keyframes animacao_filtro_imagem {
        from {
            background-color: rgb(0,0,0);
        }
    
        to {
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 100%);
        }
    }

    @keyframes animacao_card_informacoes {
        from {
            color: #000;
            padding-top: 0px;
        }
    
        to {
            color: #fff;
            padding-top: 15px;
        }
    }
}

@media screen and (max-width: 400px) {
    .card {
        height: 90vh;
    }

    .Informacoes {
        gap: 30px;
    }
}