body {
    background-color: red;
}

.publisher-cards {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    height: 80vh;
}

.publisher-card {
    background-color: #000;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 20px;
    height: 100%;    
}

.publisher-card-banner {
    background-image: url(../img/exemplo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 20px;
    height: 60%;
}

.publisher-card-banner-filtro {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,1) 100%);
    height: 100%;
    border: none;
    border-radius: 20px;

    display:flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    color: #fff;
}

.publisher-card-conteudo {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
}





/* TITRE */
h1 {
    margin-top: 0;
    font-size: 3rem;
    display: inline-block;
  }
  h1 div {
    position: relative;
    float: left;
  }
  h1 div:first-child {
    color: #3498db;
    margin-right: 1rem;
  }
  /* PROFIL */
  .blog .carousel-indicators {
      left: 0;
      top: auto;
      bottom: -40px;
  
  }
  
  /* The colour of the indicators */
  .blog .carousel-indicators li {
      background: #a3a3a3;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      margin-bottom:10px;
      
  }
  
  .blog .carousel-indicators .active {
  background: #707070;
  margin-bottom:10px;
  }
  
  .our-team-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background: url(img/service-section-bottom.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
  }
  .our-team {
    padding: 0 0 40px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #00325a;
  }
  .our-team:hover {
    border-bottom: 5px solid #2f2f2f;
  }
  
  .our-team .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  .our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00325a;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  .our-team:hover .pic:before {
    height: 100%;
    background: #2f2f2f;
  }
  .our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
  }
  .our-team:hover .pic:after {
    background: #7ab92d;
  }
  .our-team .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
  }
  .our-team:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  .our-team .team-content {
    margin-bottom: 30px;
  }
  .our-team .title {
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  .our-team .post {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  .our-team .social {
    width: 100%;
    padding-top: 10px;
    margin: 0;
    background: #2f2f2f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  .our-team:hover .social {
    bottom: 0;
  }
  .our-team .social li {
    display: inline-block;
  }
  .our-team .social li a {
    display: block;
    padding-top: 6px;
    font-size: 15px;
    color: #fff;
    transition: all 0.3s ease 0s;
  }
  .our-team .social li a:hover {
    color: #2f2f2f;
    background: #f7f5ec;
  }
  @media only screen and (max-width: 990px) {
    .our-team {
      margin-bottom: 10px;
    }
  }
  


/* .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}






.carousel, .carousel-item {
    height: 55vh;
}

.plataforma-slide-card {
    padding: 0 10px;
}

.plataforma-card-conteudo {
    background-image: url(./exemplo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;

    height: 50vh;
    width: 40vh;

    padding: 0;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.342);
}

.plataforma-card-titulo {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 100%);
    
    margin: 0;
    padding: 0 15px;
    border-radius: 20px;
    height: 100%;
    
    display: flex;
    align-items: center;
    
}

#plataforma-titulo {
    position: relative;
    top: 30%;
    color: white;
}

.wave {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
}
.onda {
    background-image: url(../img/wave.svg);
    /* background-color: blue; 
    height: 100%;
    width: 20%;
}

.box {
    background-color: blue;
    height: 300px;
    
    --mask:
        radial-gradient(112.05px at 50% 157.50px,#000 99%,#0000 101%) calc(50% - 140px) 0/280px 100%,
        radial-gradient(112.05px at 50% -87.5px,#0000 99%,#000 101%) 50% 70px/280px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.box:hover {
    --_i: calc(4*var(--s));
    transition: all 20s;
}


/* for the pen 
html, body {
    margin: 0;
    min-height: 100%;
    background-color: #f2f2f2;
  }
  
  /* waves 
  .ocean {
    height: 80px; /* change the height of the waves here 
    width: 100%;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
    overflow-x: hidden;
  }
  
  .wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
  }
  
  .wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
  }
  
  .wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
  }
  
  @keyframes wave {
      0% {transform: translateX(0);}
      50% {transform: translateX(-25%);}
      100% {transform: translateX(-50%);}
  }

/* Pagina lancamentos 
#escondido {
    display: none;
} */
